
.Graph {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 100%;
}

.box {
    margin-top: 30px;
    width: 330px;
    height: 7000ox;
    border: 3px solid #8FB8ED;
    background: white;
    margin: auto;
    padding: 15px 10px;
}
