body {
    margin: 15px;
    font-family: "Oxygen", "Ubuntu", "Cantarell", "Calibri", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #FDF8FE;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: "Ubuntu";
    text-align: center;
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #6780a1;
}

.range-wrapper{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    margin: 20px;
}

.frame {
    width: 300px;
    height: 250px;
    border: 3px solid #bfb9eb;
    background: #e6f6ff;
    margin: auto;
    padding: 15px 10px;
}

.box {
    margin-top: 30px;
    width: 330px;
    height: 7000ox;
    border: 3px solid white;
    background: whitesmoke;
    margin: auto;
    padding: 15px 10px;
}


.label {
    color: darkslategray;
    font-family: "Calibri";
    text-transform: oblique;
}


.Button {
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    background: #caeefd;
    text-align: center;
    position: relative;
    border-radius: 20px;
  }
  
.Button:hover {
    background: #b2def0;
}
  
.Button:active {
    outline: none;
    background: #95cae0;
}
  
.Button:focus {
    outline: none;
}
  

.hidden{
    display: none;
}